<!-- Start Footer Area -->
  <footer class="axil-footer footer-default theme-gradient-2">
      <div class="bg_image--2">
          <!-- Start Footer Top Area -->
          <div class="footer-top ax-section-gap">
              <div class="container">
                  <div class="row">
                      <!-- Start Single Widget -->
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                          <div class="footer-widget-item axil-border-right">
                              <h2>Get in touch!</h2>
                              <p>Join our email list to stay updated on the latest industry 
                              news, case studies, and exciting projects from our Company. 
                               <br> Subscribe now and stay connected with us!</p>
                                  <div class="axil-newsletter">
                                  <%#= form_with(model: @newsletter, class: "newsletter-form")  do |form| %>
                                    <input  id="newsletter_email" type="email" placeholder="Email" Name="newsletter[email]" required>
                                        <button class="axil-button btn-transparent" type="submit" name="commit" ><span class="button-text">Subscribe</span><span class="button-icon"></span></button>
                                    <%# end %>
                                  </div>
                          </div>
                      </div>
                      <!-- End Single Widget -->

                      <!-- Start Single Widget -->
                      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 mt_mobile--30">
                          <div class="footer-widget-item">
                              <h6 class="title">Services</h6>
                              <div class="footer-menu-container">
                                  <ul class="ft-menu liststyle link-hover">
                                      <li><a href="#">Logo & Branding</a></li>
                                      <li><a href="#">Website Development</a></li>
                                      <li><a href="#">Mobile App Development</a></li>
                                      <li><a href="#">Search Engine Optimization</a></li>
                                      <li><a href="#">Social Media Marketing</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <!-- End Single Widget -->

                      <!-- Start Single Widget -->
                      <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-12 mt_lg--30 mt_md--30 mt_sm--30">
                          <div class="footer-widget-item">
                              <h6 class="title">Resourses</h6>
                              <div class="footer-menu-container">
                                  <ul class="ft-menu liststyle link-hover">
                                      <li><a href="/articles">Articles</a></li>
                                      <li><a href="/case-study">Case Studies</a></li>
                                      <li><a href="/portfolio">Portfolio</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <!-- End Single Widget -->

                      <!-- Start Single Widget -->
                      <div class="col-xl-1 col-lg-6 col-md-6 col-sm-6 col-12 mt_lg--30 mt_md--30 mt_sm--30">
                          <div class="footer-widget-item widget-support">
                              <h6 class="title">Support</h6>
                              <div class="footer-menu-container">
                                  <ul class="ft-menu liststyle link-hover">
                                      <li><a href="/contacts">Contact</a></li>
                                      <li><a href="/privacy-policy">Privacy Policy</a></li>
                                      <li><a href="/site-map">Sitemap</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <!-- End Single Widget -->
                  </div>
              </div>
          </div>
          <!-- End Footer Top Area -->
          <!-- Start Copyright -->
          <div class="copyright copyright-default">
              <div class="container">
                  <div class="row row--0 ptb--20 axil-basic-thine-line">
                      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                          <div class="inner text-center text-md-start">
                              <p>©2021 - <span id="demo"></span>. All rights reserved by Softalx Solutions.</p>
                          </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                          <div class="quick-contact">
                              <ul class="link-hover d-flex justify-content-center justify-content-md-end liststyle">
                                  <li><a data-hover="Privacy Policy" href="/privacy-policy">Privacy Policy</a></li>
                                  <li><a href="/terms">Terms of Use</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- End Copyright -->
      </div>
  </footer>
  <!-- End Footer Area -->