<!-- Start Breadcrumb Area -->
  <div class="axil-breadcrumb-area breadcrumb-style-default pt--170 pb--70 theme-gradient">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="inner">
                      <h1 class="axil-page-title">Our Privacy Policy</h1>
                  </div>
              </div>
          </div>
      </div>
  </div>
<!-- End Breadcrumb Area -->


<div style="margin: 2.5rem 0px 0px 0px;" class="axil-blog-area  bg-color-white">
    <div class="container">
        <div class="row row--40">
            <div style="margin: 0px auto;" class="col-lg-8 col-md-12 col-12">
                <!-- Start Single Blog  -->
                <div class="axil-blog-list mb--80 mb_md--30 mb_sm--30 mb_lg--50">
                    <div class="blog-top">
                        <h3 class="title">Privacy Policy for Softalx Solutions</h3>

                        <h5>Last updated: February 8, 2023</h5>
                        
                    </div>
                    
                    <div class="content">
                        <p>At Softalx Solutions (hereinafter "Company," "we," "us," or "our"), we understand the importance of protecting your personal information and we are committed to maintaining your privacy. This Privacy Policy outlines the information we collect, how we use it, and the measures we take to keep it secure.</p>

                        <ol>
                            <li>Information We Collect</li>

                            <p>We collect information from you when you visit our website, use our products or services, or communicate with us. This information may include:</p>

                            <ul>
                                <li>Personal Information: Name, email address, postal address, telephone number, and other contact details.</li>

                                <li>Demographic Information: Age, gender, and other information you choose to provide.</li>

                                <li>Technical Information: IP address, browser type and version, device type, and operating system.</li>
                                
                                <li>Usage Information: Information about how you interact with our products and services, including what features you use and how often you use them.</li>
                            </ul>

                            <li>How We Use Your Information</li>

                            <p>We use your information to:</p>

                            <ul>
                                <li>Provide our products and services: We use your information to create an account, process orders, and provide support.</li>

                                <li>Improve our products and services: We use your information to understand how you use our products and services and to identify areas for improvement.</li>

                                <li>Communicate with you: We use your information to send you news, updates, and promotional offers.</li>

                                <li>Conduct research and analysis: We use your information to understand our customers and to identify trends and insights.</li>
                            </ul>

                            <li style="margin-top:15px">How We Share Your Information</li>

                            <p>We do not sell, rent, or lease your information to third parties. However, we may share your information with third parties in the following circumstances:</p>

                            <ul>
                                <li>With our service providers: We may share your information with third-party service providers who provide services on our behalf, such as hosting, payment processing, and marketing.</li>

                                <li>For legal reasons: We may share your information if we are required to do so by law or if we believe it is necessary to protect our rights and interests.</li>
                            </ul>

                            <li style="margin-top:15px">Data Security</li>

                            <p>We take the security of your information seriously and have implemented appropriate technical and organizational measures to protect it from unauthorized access, use, or disclosure. However, no method of transmission or storage is 100% secure, and we cannot guarantee the absolute security of your information.</p>

                            <li>Data Retention</li>

                            <p>We will retain your information for as long as necessary to provide you with our products and services, and to comply with our legal obligations.</p>

                            <li>Your Rights</li>

                            <p>You have the right to access, correct, or delete your personal information at any time. You may also request that we stop using your information for certain purposes, such as marketing. To exercise these rights, please contact us using the contact information provided below.</p>

                            <li>Changes to This Privacy Policy</li>

                            <p>We may update this Privacy Policy from time to time to reflect changes in our practices or to comply with new legal requirements. When we make changes, we will revise the "Last Updated" date at the top of this page.</p>

                            <li>Contact Us</li>

                            <p>If you have any questions about this Privacy Policy or our privacy practices, please contact us at:</p>

                            <p>Softalx Solutions <br>
                            
                            Address: 5, Ekelie Str Off DLA Rd Asaba, Delta State, Nigeria. <br>
                            
                            Phone: (+234) 906 849 8124 <br>
                            
                            Email: info@softalx.com</p>

                        </ol>
                    </div>
                </div>
                <!-- End Single Blog  -->


            </div>
            
        </div>
    </div>
</div>



