<!-- Start Breadcrumb Area -->
  <div class="axil-breadcrumb-area breadcrumb-style-default pt--170 pb--70 theme-gradient">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="inner">
                      <h1 class="axil-page-title">Our Terms of Use</h1>
                  </div>
              </div>
          </div>
      </div>
  </div>
<!-- End Breadcrumb Area -->

<div style="margin: 2.5rem 0px 0px 0px;" class="axil-blog-area  bg-color-white">
    <div class="container">
        <div class="row row--40">
            <div style="margin: 0px auto;" class="col-lg-8 col-md-12 col-12">
                <!-- Start Single Blog  -->
                <div class="axil-blog-list mb--80 mb_md--30 mb_sm--30 mb_lg--50">
                    <div class="blog-top">
                        <h3 class="title">Terms of Use for Softalx Solutions</h3>

                    </div>
                    
                    <div class="content">
                        <p>Welcome to the Softalx Solutions website (the "Site"). Softalx Solutions provides software solutions for businesses, including websites and apps. By accessing or using the Site, you agree to be bound by these Terms of Use (the "Terms"). If you do not agree to these Terms, you may not use the Site.</p>

                        <ol>
                          <li>Use of Site. The Site is for your personal and non-commercial use. You may not modify, copy, distribute, transmit, display, perform, reproduce, publish, license, create derivative works from, transfer, or sell any information, software, products, or services obtained from the Site.</li> <br>

                          <li>Intellectual Property. The Site and its content, including but not limited to text, graphics, logos, images, audio and video, are protected by copyright and trademark laws. You may not use any content from the Site without express written permission from Softalx Solutions.</li> <br>

                          <li>Disclaimer. The content on the Site is provided "as is" without warranties of any kind, either express or implied, including but not limited to warranties of merchantability, fitness for a particular purpose, and non-infringement. Softalx Solutions does not guarantee the accuracy, completeness, or usefulness of any information on the Site.</li> <br>

                          <li>Limitation of Liability. In no event shall Softalx Solutions be liable for any damages arising from the use of the Site, including but not limited to direct, indirect, incidental, punitive, and consequential damages.</li> <br>

                          <li>Changes to Terms. Softalx Solutions may, at its sole discretion, revise these Terms at any time. By using the Site, you agree to be bound by the then-current version of these Terms.</li> <br>

                          <li>Governing Law. These Terms shall be governed by and construed in accordance with the laws of the jurisdiction in which Softalx Solutions is headquartered, without giving effect to any principles of conflicts of law.</li> <br>

                          <li>Entire Agreement. These Terms, together with the Privacy Policy and any other legal notices or agreements posted on the Site, constitute the entire agreement between you and Softalx Solutions with respect to your use of the Site.</li>


                        </ol>
                        <p>If you have any questions regarding these Terms, please contact Softalx Solutions at:</p>

                        <p>                       
                        Address: 5, Ekelie Str Off DLA Rd Asaba, Delta State, Nigeria. <br>
                        
                        Phone: (+234) 906 849 8124 <br>
                        
                        Email: info@softalx.com</p>

                        </ol>
                    </div>
                </div>
                <!-- End Single Blog  -->


            </div>
            
        </div>
    </div>
</div>