<!-- Start Page Error Area  -->
<div class="axil-error-not-found fullscreen d-flex align-items-center theme-gradient-7 list-active">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="axil-error text-center">
                    <div class="inner">
                        <h1 class="title mb--20">Internal Server Error</h1>
                        <p class="subtitle-2 mb--30">Oops... Something went wrong 
                            </p>
                            <a class="axil-button btn-large btn-transparent" href="/"><span
                                class="button-text">Go Back Home</span><span class="button-icon"></span></a>
                                <%= image_tag("others/err_num.png", alt: "404 image", class: "text-image w-50") %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape-group">
        <div class="shape shape-03">
            <%#= image_tag("shape/404-02.svg", alt: "shape image") %>
        </div>
        <div class="shape shape-04">
            <%= image_tag("others/serv.png", alt: "shape image", width: "600") %>
        </div>
    </div>
</div>
<!-- End Page Error Area  -->